.chat-button-component {
	@apply flex flex-row justify-center items-center shrink-0
		px-4 min-h-10 w-full rounded-xl
		text-sm font-medium;

	&.primary {
		@apply bg-blue-500 text-white;

		&:hover {
			@apply bg-blue-600;
		}
	}

	&.secondary {
		@apply bg-gray-100;

		&:hover {
			@apply bg-gray-200;
		}

		&:is(.dark *) {
			@apply bg-gray-900 text-white;

			&:hover {
				@apply bg-gray-950;
			}
		}
	}

	&.tertiary {
		@apply bg-white text-gray-900 border border-gray-200;

		&:hover {
			@apply bg-gray-200;
		}

		&:is(.dark *) {
			@apply border-gray-700 bg-gray-800 text-white;

			&:hover {
				@apply bg-gray-900;
			}
		}
	}
}
