@if (this.user(); as user) {
  <div class="chat-dashboard">
    <div class="chat-dashboard-header">
      <h2 class="text-4xl font-semibold text-gray-900 dark:text-white">Hello {{ user.firstName }}</h2>
      <div class="flex mt-6 flex-col space-y-6 lg:flex-row lg:space-x-6 lg:space-y-0">
        <div class="chat-dashboard-card">
          <div class="chat-dashboard-card-icon">
            <ng-icon name="saxCardsBulk" />
          </div>
          <div class="mr-auto">
            <h3 class="text-3xl font-semibold text-gray-900 dark:text-white">{{ 583640 | currency : 'EUR' : 'symbol' : '.0-2' }}</h3>
          </div>
          <div class="h-full shrink-0">
            <div class="flex items-center text-gray-900 dark:text-white">
              <ng-icon
                [class]="true ? 'text-green-500' : 'text-red-500'"
                [name]="true ? 'bootstrapArrowUp' : 'bootstrapArrowDown'"
                size="1rem"
              />
              <span class="ml-2">{{ 15 }} %</span>
            </div>
          </div>
        </div>

        <div class="chat-dashboard-card">
          <div class="chat-dashboard-card-icon">
            <chat-svg-icon class="fill-blue-500" icon="jar-of-pills" />
          </div>
          <div class="mr-auto">
            <h3 class="text-3xl font-semibold text-gray-900 dark:text-white">{{ 1421 | number : '' : 'en-US' }}</h3>

          </div>
          <div class="h-full shrink-0">
            <div class="flex items-center text-gray-900 dark:text-white">
              <ng-icon
                [class]="true ? 'text-green-500' : 'text-red-500'"
                [name]="true ? 'bootstrapArrowUp' : 'bootstrapArrowDown'"
                size="1rem"
              />
              <span class="ml-2">{{ 12 }} %</span>
            </div>
          </div>
        </div>

        <div class="chat-dashboard-card">
          <div class="chat-dashboard-card-icon">
            <ng-icon name="saxBuildingsBulk" />
          </div>
          <div class="mr-auto">
            <h3 class="text-3xl font-semibold text-gray-900 dark:text-white">{{ 4 | number : '' : 'en-US' }}</h3>

          </div>
          <div class="h-full shrink-0">
            <div class="flex items-center text-gray-900 dark:text-white">
              <ng-icon
                [class]="true ? 'text-green-500' : 'text-red-500'"
                [name]="true ? 'bootstrapArrowUp' : 'bootstrapArrowDown'"
                size="1rem"
              />
              <span class="ml-2">{{ 20 }} %</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-row pt-8 pb-6">
      <div class="flex flex-row items-center w-full">
        <chat-button-group
          [buttons]="this.buttons"
          [(choice)]="this.viewSelected"
        />
      </div>

    </div>

  </div>
}
