<div class="chat-main-index min-h-screen">
  <div class="mx-auto max-w-4xl py-16 sm:py-24 lg:py-32">
    <div class="text-center">
      <h1 class="text-4xl font-bold text-indigo-600 mb-4">
        Chat Rooms
        <span class="sr-only">ChatRoom</span>
      </h1>

      <!-- Chat rooms list -->
      <div *ngIf="chatRooms.length > 0; else noRoomsTemplate" class="mt-8">
        <ul class="space-y-4">
          <li *ngFor="let room of chatRooms" class="bg-white shadow rounded-lg p-6">
            <h3 class="text-lg font-semibold text-gray-900 text-left">{{ room.id }}</h3>
            <p class="text-sm text-gray-600 text-left">Created at: {{ room.createdAt | date:'medium' }}</p>
            <p class="text-sm text-gray-600 text-left">Participants: {{ room.participants.length }}</p>
            <p class="text-sm text-gray-600 text-left">Status: <span [ngClass]="{'text-green-500': !room.readOnly, 'text-red-500': room.readOnly}">{{ room.readOnly ? 'Read-only' : 'Active' }}</span></p>
						<!-- <button (click)="joinChatRoom(room.id)" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
							Join Chat Room
						</button> -->
            <button [routerLink]="['/chat-room', room.id]" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
              Join Chat Room
            </button>
          </li>
        </ul>
      </div>

      <ng-template #noRoomsTemplate>
        <p class="text-gray-500">No chat rooms available.</p>
      </ng-template>

      <!-- Create room button -->
      <div class="mt-10">
        <button (click)="createChatRoom()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          Create Chat Room
        </button>
        <button [routerLink]="['/chat-room/1']" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          Join Chat Room
        </button>
      </div>
    </div>
  </div>
</div>
