@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter-Tight/InterTight-VariableFont_wght.ttf) format('truetype');
}

* {
	font-family: 'Inter Tight';
}

input {
	background: transparent;

	&:focus-within {
		outline: none;
	}
}

// Remove spinner from number input
@layer base {
	input[type='number'] {
		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}
}

.chat-separator {
	@apply my-12 h-px border-t-0
		opacity-25
		bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent;

	&:is(.dark *) {
		@apply via-neutral-400;
	}
}

.icon-container {
	transition: transform 0.5s ease, filter 0.5s ease;

	& > ng-icon:hover {
		transform: scale(1.1); /* Zoom légèrement */
		filter: drop-shadow(0 0 5px #999); /* Rend l'icône plus lumineuse et ajoute un effet de brillance */
		&:is(.dark *) {
			filter: brightness(150%) drop-shadow(0 0 5px #fff);
		}
	}
}

// .icon-container {
// 	@apply transition-all duration-500 ease-in-out;

// 	& > ng-icon:hover {
// 		@apply transform scale-125 filter brightness-150 dark:drop-shadow-lg;
// 	}
// }
